<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Orchid</title>
    <link rel="icon" href="images/favicon.png">
    <link rel="stylesheet" href="fonts/icon.css">
    <link rel="stylesheet" href="fonts/fontawesome-free-5.9.0-web/css/all.min.css">
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <header>
        <nav class="z-depth-0" style="background: rgb(24, 23, 23);">
            <div>
                <div class="row">
                    <div class="col s1"></div>
                    <div class="col s10">
                        <div class="nav-wrapper">
                            <a href="index.html" class="brand-logo">
                                <img src="images/logo-2.png" style="width: 180px; height: 30px; margin-top: 10px;" alt="">
                            </a>
                            <div class="right dropdown-trigger" data-target="dropdown1">
                                <i class="material-icons ">search</i>
                            </div>
                            <ul id='dropdown1' style="width: 120px; " class="dropdown-content">
                                <form action=" ">
                                    <input type="search " style="width: 90px" name=" " id=" ">
                                </form>
                            </ul>
                            <a href=" " class="sidenav-trigger " data-target="mobile-demo "><i class="material-icons ">menu</i></a>
                            <ul class="right hide-on-med-and-down ">
                                <li><a href=" ">Home</a></li>
                                <li><a href=" ">Contact</a></li>
                                <li><a href=" ">Downloads</a></li>
                                <a href="#modal1" style="height: 43px; " class="waves-effect waves-light btn modal-trigger z-depth-0 orange darken-2 waves-effect waves-notransition ">Subscribe</a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <ul class="sidenav " id="mobile-demo ">
            <li><a href=" ">Home</a></li>
            <li><a href=" ">Musics</a></li>
            <li><a href=" ">About</a></li>
            <a href="download.html " class="btn z-depth-0 orange darken-2 waves-effect waves-notransition " style="margin-left: 25px; width: 240px; ">Go to downloads</a>
        </ul>
    </header>
    <section>
        <div class="row ">
            <div class="col s1 "></div>
            <div class="col s10 ">
                <div class="clearfix " style="padding-top: 30px; padding-bottom: 30px;">Search results for "
                    <font class="orange-text">asdf</font>
                </div>
                <div>
                    <div class="row">
                        <div class="col s12 m12 l8">
                            <div>
                                <div class="row">
                                    <div class="col s12 m6 l12">
                                        <div class="card z-depth-0">
                                            <iframe style="width: 100%;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31762.071243642524!2d-0.2200433820354264!3d5.675662736700176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf9c46d2daf51b%3A0x19b60846edbb1c88!2sHaatso!5e0!3m2!1sen!2sgh!4v1574003449588!5m2!1sen!2sgh"
                                                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

                                            <br><br>
                                            <h5>
                                                <strong>Contact us</strong>
                                            </h5>
                                            <div class="underline-2"></div>
                                            <br>
                                            <form action="">
                                                <div class="input-field">
                                                    <i class="material-icons prefix">person</i>
                                                    <input type="text" name="" id="fullname" style="font-family: 'Poppins';">
                                                    <label for="fullname">Full Name</label>
                                                </div>
                                                <div class="input-field">
                                                    <i class="material-icons prefix">email</i>
                                                    <input type="email" name="" id="email" style="font-family: 'Poppins';">
                                                    <label for="email">Email</label>
                                                </div>
                                                <div class="input-field">
                                                    <i class="material-icons prefix">message</i>
                                                    <textarea name="" id="fullname" class="materialize-textarea" style="font-family: 'Poppins';"></textarea>
                                                    <label for="fullname">Message</label>
                                                </div>
                                                <button class="btn z-depth-0 orange darken-4" style="font-family: 'Poppins Semibold';">Contact</button>
                                            </form>
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                        </div>
                                        <div>
                                            <div class="row">
                                                <div class="col s12 m6 l4">
                                                    <div class="card">
                                                        <div class="card-image">
                                                            <img src="images/105.jpg" alt="" />
                                                            <div class="overlay"></div>
                                                            <span class="card-title"></span>
                                                        </div>
                                                        <div class="card-content" onclick="window.location = ' '" style="cursor: pointer;">
                                                            Post Malone ft. Young Thug - <strong class="orange-text text-darken-4">Goodbyes</strong>
                                                        </div>
                                                        <div class="card-action">
                                                            <a href="" class="btn z-depth-0" style="background: rgb(206, 77, 3);"><i class="material-icons">file_download</i></a>
                                                            <a href="preview.html" class="btn right z-depth-0" style="background: rgb(32, 31, 31);"><i class="material-icons left">play_circle_outline</i> preview</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col s12 m6 l4">
                                                    <div class="card">
                                                        <div class="card-image">
                                                            <img src="images/105.jpg" alt="" />
                                                            <div class="overlay"></div>
                                                            <span class="card-title"></span>
                                                        </div>
                                                        <div class="card-content" onclick="window.location = ' '" style="cursor: pointer;">
                                                            Post Malone ft. Young Thug - <strong class="orange-text text-darken-4">Goodbyes</strong>
                                                        </div>
                                                        <div class="card-action">
                                                            <a href="" class="btn z-depth-0" style="background: rgb(206, 77, 3);"><i class="material-icons">file_download</i></a>
                                                            <a href="preview.html" class="btn right z-depth-0" style="background: rgb(32, 31, 31);"><i class="material-icons left">play_circle_outline</i> preview</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col s12 m6 l4">
                                                    <div class="card">
                                                        <div class="card-image">
                                                            <img src="images/105.jpg" alt="" />
                                                            <div class="overlay"></div>
                                                            <span class="card-title"></span>
                                                        </div>
                                                        <div class="card-content" onclick="window.location = ' '" style="cursor: pointer;">
                                                            Post Malone ft. Young Thug - <strong class="orange-text text-darken-4">Goodbyes</strong>
                                                        </div>
                                                        <div class="card-action">
                                                            <a href="" class="btn z-depth-0" style="background: rgb(206, 77, 3);"><i class="material-icons">file_download</i></a>
                                                            <a href="preview.html" class="btn right z-depth-0" style="background: rgb(32, 31, 31);"><i class="material-icons left">play_circle_outline</i> preview</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m12 l4">
                            <h4 class="pop-text">Popular songs</h4>
                            <div class="underline-2"></div>
                            <div style="padding-top: 20px;"></div>
                            <div style="margin-bottom: 20px;">
                                <div class="card horizontal">
                                    <div class="card-image">
                                        <img src="images/106.jpg" style="width: 100px; height: 100%;">
                                    </div>
                                    <div class="card-stacked">
                                        <div class="card-content" style="cursor: pointer;" onclick="window.location=' '">
                                            Post Malone ft. Young Thug - <strong class="orange-text text-darken-4">Goodbyes</strong>
                                            <a href="" class="btn z-depth-0 right" style="background: rgb(206, 77, 3);"><i class="material-icons">play_circle_outline</i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-bottom: 20px;">
                                <div class="card horizontal">
                                    <div class="card-image">
                                        <img src="images/106.jpg" style="width: 100px; height: 100%;">
                                    </div>
                                    <div class="card-stacked">
                                        <div class="card-content" style="cursor: pointer;" onclick="window.location=' '">
                                            Post Malone ft. Young Thug - <strong class="orange-text text-darken-4">Goodbyes</strong>
                                            <a href="" class="btn z-depth-0 right" style="background: rgb(206, 77, 3);"><i class="material-icons">play_circle_outline</i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-bottom: 20px;">
                                <div class="card horizontal">
                                    <div class="card-image">
                                        <img src="images/106.jpg" style="width: 100px; height: 100%;">
                                    </div>
                                    <div class="card-stacked">
                                        <div class="card-content" style="cursor: pointer;" onclick="window.location=' '">
                                            Post Malone ft. Young Thug - <strong class="orange-text text-darken-4">Goodbyes</strong>
                                            <a href="" class="btn z-depth-0 right" style="background: rgb(206, 77, 3);"><i class="material-icons">play_circle_outline</i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-bottom: 20px;">
                                <div class="card horizontal">
                                    <div class="card-image">
                                        <img src="images/106.jpg" style="width: 100px; height: 100%;">
                                    </div>
                                    <div class="card-stacked">
                                        <div class="card-content" style="cursor: pointer;" onclick="window.location=' '">
                                            Post Malone ft. Young Thug - <strong class="orange-text text-darken-4">Goodbyes</strong>
                                            <a href="" class="btn z-depth-0 right" style="background: rgb(206, 77, 3);"><i class="material-icons">play_circle_outline</i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <h4 class="pop-text">Recent Contacts</h4>
                            <div class="underline-2"></div>
                            <ul class="collapsible" data-collapsible="expandable">
                                <li>
                                    <div class="collapsible-header">
                                        <i class="material-icons" style="padding:4px; background: orange;">person</i> John Doe - <b class="orange-text darken-4"> johndoe@gmail.com</b>
                                    </div>
                                    <div class="collapsible-body">
                                        <p>Lorem ipsum dolor sit amet.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="collapsible-header">
                                        <i class="material-icons" style="padding:4px; background: orange;">person</i> John Doe - <b class="orange-text darken-4"> johndoe@gmail.com</b>
                                    </div>
                                    <div class="collapsible-body">
                                        <p>Lorem ipsum dolor sit amet.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="collapsible-header">
                                        <i class="material-icons" style="padding:4px; background: orange;">person</i> John Doe - <b class="orange-text darken-4"> johndoe@gmail.com</b>
                                    </div>
                                    <div class="collapsible-body">
                                        <p>Lorem ipsum dolor sit amet.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="collapsible-header">
                                        <i class="material-icons" style="padding:4px; background: orange;">person</i> John Doe - <b class="orange-text darken-4"> johndoe@gmail.com</b>
                                    </div>
                                    <div class="collapsible-body">
                                        <p>Lorem ipsum dolor sit amet.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="collapsible-header">
                                        <i class="material-icons" style="padding:4px; background: orange;">person</i> John Doe - <b class="orange-text darken-4"> johndoe@gmail.com</b>
                                    </div>
                                    <div class="collapsible-body">
                                        <p>Lorem ipsum dolor sit amet.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1"></div>
        </div>
    </section>


    <!-- Modal Structure -->
    <div id="modal1" class="modal" style="width: 500px">
        <div class="modal-content">
            <h6 class="modal-header" style="font-family: 'Poppins ExtraBold';">Subscribe</h6>
            <div class="underline-2"></div>
            <form action="">
                <div class="input-field">
                    <input type="email" style="font-family: 'Poppins';" name="" id="email">
                    <label for="email" style="font-family: 'Poppins';">Email</label>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green orange darken-5 btn-flat">Subscribe</a>
        </div>
    </div>

    <footer class="page-footer" style="background: rgb(31, 30, 30);;">
        <div class="container">
            <div class="row">
                <div class="col s12 m8 l6">
                    <br>
                    <center>
                        <img src="images/logo-2.png" alt="">
                    </center>
                </div>
                <div class="col s12 m4 l6">
                    <h5 class="white-text">Get your favourite musics here....</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2019. All rights reserved
                <a class="grey-text text-lighten-4 right" href="#!">+234 032 238 329</a>
            </div>
        </div>
    </footer>

    <script src="js/jquery.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/particles.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/typed.min.js"></script>
    <script src="js/parallax.js"></script>
    <script src="js/script.js"></script>

</body>

</html>