{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load materializecss %}
    <header>
        <nav class="z-depth-0" style="background: rgb(24, 23, 23);">
            <div>
                <div class="row">
                    <div class="col s1"></div>
                    <div class="col s10">
                        <div class="nav-wrapper">
                            <a href="{% url 'home' %}" class="brand-logo">
                                <img src="{% static 'images/logo-2.png' %}" style="width: 180px; height: 30px; margin-top: 10px;" alt="">
                            </a>
                            <ul id='dropdown1' style="width: 120px; " class="dropdown-content">
                                <form action=" ">
                                    <input type="search " style="width: 90px" name=" " id=" ">
                                </form>
                            </ul>
                            <a href=" " class="sidenav-trigger " data-target="mobile-demo "><i class="material-icons ">menu</i></a>
                            <ul class="right hide-on-med-and-down ">
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                                <li><a href="{% url 'songs' %}">Downloads</a></li>
                                <a href="#modal1" style="height: 43px; " class="waves-effect waves-light btn modal-trigger z-depth-0 orange darken-2 waves-effect waves-notransition ">Subscribe</a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>


        <ul class="sidenav" id="mobile-demo">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="{% url 'songs' %}">Downloads</a></li>
            <a href="{% url 'songs' %}" style="margin-left: 20px;" class="btn z-depth-0 orange darken-2 waves-effect waves-notransition">Go to downloads</a>
        </ul>
    </header>
    <section>
        <div class="row ">
            <div class="col s1 "></div>
            <div class="col s10 ">
                <div>
                    <div class="row">
                        <div class="col s12 m12 l8">
                            <div>
                                <div class="row">
                                    <div class="col s12 m6 l12">
                                        <div class="card z-depth-0">
                                            <iframe style="width: 100%;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31762.071243642524!2d-0.2200433820354264!3d5.675662736700176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf9c46d2daf51b%3A0x19b60846edbb1c88!2sHaatso!5e0!3m2!1sen!2sgh!4v1574003449588!5m2!1sen!2sgh"
                                                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

                                            <br><br>
                                            <h5>
                                                <strong>Contact us</strong>
                                            </h5>
                                            <div class="underline-2"></div>
                                            <br>
                                            <form action="" method="POST">
                                                {% csrf_token %}
                                                {{ c_form.fullname|materializecss:'s6, icon=person' }}
                                                {{ c_form.email|materializecss:'s6, icon=email' }}
                                                {{ c_form.message|materializecss:'s12, icon=message' }}
                                                <button type="submit" class="btn z-depth-0 orange darken-4" style="font-family: 'Poppins Semibold';">Contact</button>
                                            </form>
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m12 l4">
                            <h4 class="pop-text">Popular songs</h4>
                            <div class="underline-2"></div>
                            <div style="padding-top: 20px;"></div>
                            <div style="margin-bottom: 20px;">
                                <div class="card horizontal">
                                    <div class="card-image">
                                        <img src="{{ lsong_1.logo.url }}" style="width: 150px; height: 100%;">
                                    </div>
                                    <div class="card-stacked">
                                        <div class="card-content" style="cursor: pointer;" onclick="window.location='{{ lsong_1.file.url }}'">
                                            {{ lsong_1.artist }} - <strong class="orange-text text-darken-4"><br>{{ lsong_1.song_title }}</strong>
                                            <a href="{% url 'preview' lsong_1.id %}" class="btn z-depth-0 right" style="background: rgb(206, 77, 3);"><i class="material-icons">play_circle_outline</i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-bottom: 20px;">
                                <div class="card horizontal">
                                    <div class="card-image">
                                        <img src="{{ lsong_2.logo.url }}" style="width: 150px; height: 100%;">
                                    </div>
                                    <div class="card-stacked">
                                        <div class="card-content" style="cursor: pointer;" onclick="window.location='{{ lsong_2.file.url }}'">
                                            {{ lsong_2.artist }} - <strong class="orange-text text-darken-4"><br>{{ lsong_2.song_title }}</strong>
                                            <a href="{% url 'preview' lsong_2.id %}" class="btn z-depth-0 right" style="background: rgb(206, 77, 3);"><i class="material-icons">play_circle_outline</i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div style="margin-bottom: 20px;">
                                <div class="card horizontal">
                                    <div class="card-image">
                                        <img src="{{ lsong_3.logo.url }}" style="width: 150px; height: 100%;">
                                    </div>
                                    <div class="card-stacked">
                                        <div class="card-content" style="cursor: pointer;" onclick="window.location='{{ lsong_3.file.url }}'">
                                            {{ lsong_3.artist }} - <strong class="orange-text text-darken-4"><br>{{ lsong_3.song_title }}</strong>
                                            <a href="{% url 'preview' lsong_3.id %}" class="btn z-depth-0 right" style="background: rgb(206, 77, 3);"><i class="material-icons">play_circle_outline</i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div style="margin-bottom: 20px;">
                                <div class="card horizontal">
                                    <div class="card-image">
                                        <img src="{{ lsong_4.logo.url }}" style="width: 150px; height: 100%;">
                                    </div>
                                    <div class="card-stacked">
                                        <div class="card-content" style="cursor: pointer;" onclick="window.location='{{ lsong_4.file.url }}'">
                                            {{ lsong_4.artist }} - <strong class="orange-text text-darken-4"><br>{{ lsong_4.song_title }}</strong>
                                            <a href="{% url 'preview' lsong_4.id %}" class="btn z-depth-0 right" style="background: rgb(206, 77, 3);"><i class="material-icons">play_circle_outline</i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <h4 class="pop-text">Recent Contacts</h4>
                            <div class="underline-2"></div>
                            <ul class="collapsible" data-collapsible="expandable">
                                {% for contact in all_contact %}
                                <li>
                                    <div class="collapsible-header">
                                        <i class="material-icons" style="padding:4px; background: orange;">person</i> {{ contact.fullname }} - <b class="orange-text darken-4"> {{ contact.email }}</b>
                                    </div>
                                    <div class="collapsible-body">
                                        <p>{{ contact.message }}</p>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1"></div>
        </div>
    </section>


    <!-- Modal Structure -->
    <div id="modal1" class="modal" style="width: 500px">
        <div class="modal-content">
            <h6 class="modal-header" style="font-family: 'Poppins ExtraBold';">Subscribe</h6>
            <div class="underline-2"></div>
            <form action="" method="POST">
                {% csrf_token %}
                {{ n_form.email|materializecss }}
                <button type="submit" class="btn z-depth-0 orange darken-3 waves-effect">Subscribe</button>
            </form>
        </div>
    </div>

    <footer class="page-footer" style="background: rgb(31, 30, 30);;">
        <div class="container">
            <div class="row">
                <div class="col s12 m8 l6">
                    <br>
                    <center>
                        <img src="{% static 'images/logo-2.png' %}" alt="">
                    </center>
                </div>
                <div class="col s12 m4 l6">
                    <h5 class="white-text">Get your favourite musics here....</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2019. All rights reserved
                <a class="grey-text text-lighten-4 right" href="#!">+234 032 238 329</a>
            </div>
        </div>
    </footer>
{% endblock content %}